.crd-content {
    margin-bottom: 30px;
    padding: 20px 15px 20px 15px;
    letter-spacing: .01em;
    box-shadow: 0 2px 2px 0 #ececec, 0 0 0 1px #ececec;
    background: white;
}

.crd-choices {
    margin-top: 5px;
    margin-bottom: 15px;
}

.ant-typography ul,
.ant-typography ol {
    margin: 0 0 0 0;
    padding: 0;
}

.ant-typography ul li, .ant-typography ol li {
    margin: 0 0 0 10px;
    padding: 0 0 0 4px;
}

.crd-container {
    overflow: hidden;
}

@media only screen and (max-width: 576px) {
    .crd-container {
        overflow: hidden;
        width: 95%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 991px) {
    .crd-container {
        overflow: hidden;
        width: 90%;
    }
}

@media only screen and (max-width: 992px) and (min-width: 1199px) {
    .crd-container {
        overflow: hidden;
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .crd-container {
        overflow: hidden;
        width: 70%;
    }
}
