.crd-content {
    margin-bottom: 30px;
    padding: 20px 15px 20px 15px;
    letter-spacing: .01em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background: white;
}

.crd-choices {
    margin-top: 5px;
    margin-bottom: 15px;
}
