body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.vsc-initialized {
  background: #f0f2f5;
}

