.app-title {
    float: left;
  }
  
  .app-title a {
    text-decoration: none;
    line-height: 64px;
    font-size: 21px;
    display: inline-block;
  }
  
  .app-title a:hover {
    text-decoration: none;
  }
  
  .app-header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
    padding: 0;
  }

  .app-menu {
    float: right;
  }

  .app-menu > li {
    padding: 0 20px;
  }

  .app-menu > li > a {
    padding: 0 20px;
    margin: 0 -20px;
  }

  .app-menu > li > a > i {
    margin-right: 0 !important;
  }

  .nav-icon {
    font-size: 30px;
  }

  .image {
    height: 40px;
    width: 40px;
    margin: 10px 16px 16px 0;
    float: left;
  }

.app-header {
  background: #fff;
}

.title {
  margin: 16px 16px 16px 0;
}

@media (max-width: 768px) {
  .app-title a {
    font-size: 20px;
  }

  .app-menu > li {
    padding: 0 15px;
  }

  .app-menu > li > a {
    padding: 0 15px;
    margin: 0 -15px;
  }
}  
