.sidebar {
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 11;
    box-shadow: 1px 0 0 0 #f0f1f2;
}

.image {
    height: 40px;
    width: 40px;
    margin: 10px 16px 16px 14px;
    float: left;
}

.app-title {
    float: left;
}

.app-title a {
    text-decoration: none;
    line-height: 64px;
    font-size: 21px;
    display: inline-block;
}

.app-title a:hover {
    text-decoration: none;
}

.title {
    margin: 16px 16px 16px 0;
}

@media (max-width: 768px) {
    .app-title a {
        font-size: 20px;
    }
}

.ant-menu .ant-menu-submenu .ant-menu-submenu-title {
    padding-left: 16px !important;
    margin-top: 0;
    margin-bottom: 0;
}

.ant-menu .ant-menu-submenu .ant-menu-item {
    padding-left: 24px !important;
    margin-top: 0;
    margin-bottom: 0;
}

.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child){
    margin-top: 0;
    margin-bottom: 0;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
    margin-top: 0;
    margin-bottom: 0;
}
